* {
    box-sizing: border-box;
    font-size: 90%;
    font-family: 'Cinzel', serif;
}

body {
    background-image: url(https://us.123rf.com/450wm/ngonhan/ngonhan1506/ngonhan150601039/41814164-deep-red-sackleinen-textur-hintergrund.jpg?ver=6);
    margin: 0 auto 0 auto;
    padding: 0;
}


img {
    width: 100%;
}




.headers {
    height: 30%;
    width: 80%;
    padding: 1%;


   margin-left: auto;
    margin-right: auto;
    
    background-color: rgb(1, 122, 82) !important;
    color: whitesmoke;
   margin-top: 2%;
   text-align: center;
}


.contents {
    width: 60%;
    margin: 2% auto 0 auto;
 
    text-align: center;
    
    background-color: rgb(1, 122, 82) !important;
    color: whitesmoke;
}

